apiVersion: v1
kind: Service
metadata:
  name: netology-svc
  namespace: netology  
spec:
  ports:
    - name: web
      port: 80
      protocol: TCP
      targetPort: 8080
  selector:
    app: myapp
      